html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    outline: 2px solid red;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
}

.container {
    display: block;
    
}